*.pdf
*.log
*.aux
*.toc
*.out
*.synctex.gz
.DS_Store
*.lb
*.watcher_pid
*.fdb_latexmk
*.fls
*.loe
*.ai
#!Documentazione Tecnica/*.pdf  # permette di aggiungere documentazione tecnica
#! */Grafici/*.pdf #permette di condividere anche i grafici !!!

Makefile
__pycache__/
